<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
</head>
<body>

<h1> Pirate </h1>
 <h2>Name:<%=@new_pirate.name%></h2>
 <h2>Weight:<%=@new_pirate.weight%></h2>
 <h2>Height:<%=@new_pirate.height%></h2>

<h1> Ships </h2>
  <% @ships.each do |ship| %>
      <p>Name: <%= ship.name %></p>
      <p>Name: <%= ship.type %></p>
      <p>Name: <%= ship.booty %></p>
  <% end %>

</body>
</html>
